<div align = "right">
<div align = "left", style = 'height: 10%; width: 50%; background-color: rgb(100,200,0); color: rgb(255,255,255);'>
  <p><strong>
     <%= link_to 'Home', controller: 'home' %> ||
     <%= link_to 'Create post', new_pet_path %> ||
     <%= link_to 'log-in', controller: 'home' %> ||
     <%= link_to 'contact us', controller: 'home' %> ||
     <%= link_to 'help', controller: 'home' %>
    </strong></p>
</div>
</div>