<%= render 'menubar' %>
<h1>Registered Pets:</h1>
 
<div style = "border:10px; border-style:solid; border-color:#008080; padding: 1em;">
<table>
  <tr>
    <th>Location</th>
    <th> | </th>
    <th>Phone</th>
    <th> | </th>
    <th>Email</th>
    <th> | </th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @pets.each do |pet| %>
    <tr>
      <td><%= pet.location %></td>
      <th> | </th>
      <td><%= pet.phone %></td>
      <th> | </th>
      <td><%= pet.email %></td>
      <th> | </th>
      <td><%= link_to 'View', pet_path(pet) %></td>
    </tr>
  <% end %>
</table>
</div>
