<div align = "right">
<div align = "left", style = 'height: 10%; width: 50%; background-color: rgb(100,200,0); color: rgb(255,255,255);'>
  <p><strong>
     <%= link_to 'Home', home_index_path %> ||
     <%= link_to 'Create post', controller: 'pets' %> ||
     <%= link_to 'View Postings', controller: 'pets' %> ||
     <%= link_to 'log-in', home_index_path %> ||
     <%= link_to 'contact us', home_index_path %> ||
     <%= link_to 'help', home_index_path %>
    </strong></p>
</div>
</div>